<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
  <main class="main">
    {{> "./friendsfilter-content.hbs"}}
  </main>
  <script id="user-template" type="text/x-handlebars-template">
    <div>
        <h3>Список пользователей</h3>
        {{#each list}}
            <div>{{first_name}} {{last_name}}</div>
            <img src="{{photo_200}}" alt="photo">
        {{/each}}
    </div>
</script>
</body>
</html>
