<div class="wrapper">
    <main class="main">
        <div class="container">
            <header class="header">
                <div class="logo__wrapper">
                    <img src="./src/img/content/logo.png" class="image logo" alt="{{htmlWebpackPlugin.options.title}}">
                </div>
            </header>
            <div class="top__block">
                <span class="top_header__text"> Выберите друзей </span>
                <i class="close_btn__icon"></i>
            </div>
            <div class="search__block">
                <label for="input_left" class="input_label">
                    <input type="text" name="input_left" id="input_left" class="input_field" placeholder="Начните вводить имя друга">
                </label>
                <label for="input_right" class="input_label">
                    <input type="text" name="input_right" id="input_right" class="input_field" placeholder="Начните вводить имя друга">
                </label>
            </div>
            <div class="main__content">
                <div class="friends_list__wrapper">
                    <div class="friend_list__title">Ваши друзья</div>
                    <ul class="friends__list" id="draggableContainer">
                        {{> "./list.hbs"}}
                    </ul>
                </div>

                <div class="friends_list__wrapper">
                    <div class="friend_list__title">Друзья в списке</div>
                    <ul class="friends__list" id="dropContainer" data-draggable="target">
                    </ul>
                </div>
            </div>
            <div class="bottom__block">
                <button class="save__btn" id="saveButton">Сохранить</button>
            </div>
        </div>
    </main>
</div>
    
    